In [69]:
import numpy as np
import pandas as pd
import sklearn
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib as mpl
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import RANSACRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import RepeatedKFold 
from sklearn.model_selection import KFold
from sklearn import metrics
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_validate
from sklearn.model_selection import cross_val_predict
from numpy import mean
from numpy import std
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.linear_model import ElasticNet
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
from sklearn.preprocessing import StandardScaler

In [70]:
df = pd.read_csv("data.csv")

In [92]:
df.head()

,YEAR,MONTH,DAY,PITP_1,FB_PTS_1,BIG_LD_1,BENCH_PTS_1,TM_REB_1,TOV_1,TM_TOV_1,PTS_OFF_TO_1,PITP_2,FB_PTS_2,BIG_LD_2,BENCH_PTS_2,TM_REB_2,TOV_2,TM_TOV_2,PTS_OFF_TO_2,RESULT
0,2021,2,3,38,29,18,16,5,11,0,18,34,17,11,37,4,16,1,36,1
1,2021,2,3,44,14,12,22,6,8,0,8,44,20,10,14,6,16,1,22,2
2,2021,2,3,50,11,0,54,7,16,0,21,62,17,28,28,9,18,0,29,2
3,2021,2,3,30,2,21,26,6,9,0,14,54,2,3,28,3,13,1,16,1
4,2021,2,3,50,22,0,39,8,15,0,24,40,10,28,26,6,13,0,10,2

In [85]:
df.columns

Index(['YEAR', 'MONTH', 'DAY', 'TEAM1', 'TEAM2', 'PITP_1', 'FB_PTS_1',
       'BIG_LD_1', 'BENCH_PTS_1', 'TM_REB_1', 'TOV_1', 'TM_TOV_1',
       'PTS_OFF_TO_1', 'PITP_2', 'FB_PTS_2', 'BIG_LD_2', 'BENCH_PTS_2',
       'TM_REB_2', 'TOV_2', 'TM_TOV_2', 'PTS_OFF_TO_2', 'RESULT'],
      dtype='object')

In [90]:
df.shape

(634, 20)

In [120]:
X=df.iloc[:,:-1].values
y=df.iloc[:,-1].values
validation_size = 0.20
seed = 11


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=validation_size, random_state=seed)

In [121]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()
model.fit(X_train, y_train)

RandomForestClassifier()

In [122]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, model.predict(X_test))

0.8661417322834646